﻿@page "/detail/{Id:int}"


@if(anime != null){
	<div style="padding-left: 30%">
		<p><span>@Localizer["TitleAnime"]:</span> @anime.Titre </p>
		@if (!string.IsNullOrWhiteSpace(anime.ImageBase64))
				{
					<img src="data:image/png;base64, @(anime.ImageBase64)" class="img-thumbnail" title="@anime.Titre" alt="@anime.Titre" style="min-width: 50px; max-width: 150px" />
				}
				else
				{
					<img src="images/default.png" class="img-thumbnail" title="@anime.Titre" alt="@anime.Titre" style="max-width: 150px"/>
				}
		<p><span>@Localizer["Producer"]:</span> @anime.Producteurs</p>
		<p><span>Source(s): </span> 
			@if (@anime.Sources != null) {
				@foreach (var source in @anime.Sources) {
					@source
				}
			}
		</p>
		<p><span>Genre(s): </span> 
			@if (@anime.Genres != null) {
				@foreach (var genre in @anime.Genres) {
					<p>@genre </p>
				}
			}
		</p>
		<p><span>@Localizer["Status"]: </span> 
			@if (@anime.Status != null) {
				@foreach (var status in @anime.Status) {
					@status
				}
			}
		</p>
		<p><span>@Localizer["ReleaseDate"]:</span> @anime.DateParution.ToShortDateString()</p>
		<p><span>@Localizer["NbEp"]:</span> @anime.Episodes</p>
		<button @onclick="Cancel" class="btn btn-secondary">@Localizer["Cancel"]</button>
	</div>
}
