﻿@page "/edit/{Id:int}"


<h3>@Localizer["Edit"]</h3>

<EditForm Model="@animeModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label for="titre">
            @Localizer["TitleAnime"]:
            <InputText id="titre" @bind-Value="animeModel.Titre" />
        </label>
    </p>
    <p>
        <label for="producteurs">
            @Localizer["Producer"]:
            <InputText id="producteurs" @bind-Value="animeModel.Producteurs" />
        </label>
    </p>
    <p>
        <label for="episodes">
            @Localizer["NbEp"]:
            <InputNumber id="episodes" @bind-Value="animeModel.Episodes" />
        </label>
    </p>
    <p>
        @Localizer["Status"]:
        <div>
            @foreach (var anime in Status)
            {
                <label>
                    <input type="checkbox" @onchange="@(e => OnStatusChange(anime, e.Value))" />@anime
                </label>
            }
        </div>
    </p>
    <p>
        Genres:
        <div>
            @foreach (var anime in Genres)
            {
                <label>
                    <input type="checkbox" @onchange="@(e => OnGenresChange(anime, e.Value))" />@anime
                </label>
            }
        </div>
    </p>
    <p>
        Sources:
        <div>
            @foreach (var anime in Sources)
            {
                <label>
                    <input type="checkbox" @onchange="@(e => OnSourcesChange(anime, e.Value))" />@anime
                </label>
            }
        </div>
    </p>
    <p>
        <label>
            Image:
            <InputFile OnChange="@LoadImage" accept=".png" />
        </label>
    </p>
    <p>
        <label>
            @Localizer["CurrentImage"]:
            <img src="data:image/png;base64, @(animeModel.ImageBase64)" class="img-thumbnail" title="@animeModel.Titre" alt="@animeModel.Titre" style="min-width: 50px; max-width: 150px"/>
        </label>
    </p>
    <p>
         <label for="dateParution">
            @Localizer["ReleaseDate"]:
            <InputDate id="dateParution" @bind-Value="animeModel.DateParution" />
        </label>
    </p>
    <p>
        <label>
            @Localizer["Conditions"]:
            <InputCheckbox @bind-Value="animeModel.AcceptCondition" />
        </label>
    </p>

    <button type="submit">@Localizer["Submit"]</button>
</EditForm>