﻿@page "/"
@using System.Globalization
@using Blazorise
@using AnimeList.Components

<PageTitle>Home</PageTitle>

<div class="d-flex flex-column" style="display: flex; align-items: center;">
    <h3>@Localizer["Welcome"] !</h3>            
    <p >@Localizer["Detail"] .</p>
    <p>@Localizer["Discover"] !</p>
    <br>
    <div style="padding-left: 30%;">

        <Carousel Width="Width.Is50">
        @if (animes != null)
        {
                foreach(var anime in animes){
                    <CarouselSlide Name="@anime.Titre">
                        <Image Source="@anime.Image" Text="Lights image" Display="Display.Block" Width="Width.Is100" />
                    </CarouselSlide>
                }
        }
        </Carousel>
    </div>
    <br>
    <div>
        <h5>@Localizer["DiscoverGenre"]</h5>

        <div class="border" style="width: 100%;"  >
            @if(currentPage != 1){
                <div class="gauche" @onclick="Diminuer">
                    <svg style="hight: 130px; weight: 130px;" viewBox="-2 0 10 10" id="meteor-icon-kit__regular-chevron-left-xs" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.7071 8.2929C6.0976 8.6834 6.0976 9.3166 5.7071 9.7071C5.3166 10.0976 4.6834 10.0976 4.2929 9.7071L0.29289 5.7071C-0.09763 5.3166 -0.09763 4.6834 0.29289 4.2929L4.2929 0.29289C4.6834 -0.09763 5.3166 -0.09763 5.7071 0.29289C6.0976 0.68342 6.0976 1.31658 5.7071 1.70711L2.4142 5L5.7071 8.2929z" fill="#758CA3"></path></g>
                     </svg>
                </div>
            }
            @if (animes2 != null)
            {
                    foreach(var anime in animes2)
                    {
                        <CAnime Id=@(anime.Id) Titre=@(anime.Titre) Image=@(anime.ImageBase64)></CAnime>
                    }
            }
             @if(currentPage != (pageSize-1)){
                    <div class="droit"  @onclick="Augmenter">
                        <svg class="hov" width="130px" height="130px" viewBox="-2 0 10 10" id="meteor-icon-kit__regular-chevron-right-xs" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.29289 8.2929C-0.09763 8.6834 -0.09763 9.3166 0.29289 9.7071C0.68342 10.0976 1.3166 10.0976 1.7071 9.7071L5.7071 5.7071C6.0976 5.3166 6.0976 4.6834 5.7071 4.2929L1.7071 0.29289C1.3166 -0.09763 0.68342 -0.09763 0.29289 0.29289C-0.09763 0.68342 -0.09763 1.31658 0.29289 1.70711L3.5858 5L0.29289 8.2929z" fill="#758CA3"></path></g>
                        </svg>
                    </div>
             }
        </div>
    </div>
</div>
