﻿.gauche,.droit{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border{
    display: flex;
    flex-direction: row;
}

.hov:hover svg, path:hover {
    width: 200px;
    fill: #696969;
}