﻿@page "/list"
@using AnimeList.Models


<h3>@Localizer["Title"]</h3>

<div>
    <NavLink class="btn btn-primary" href="Add" Match="NavLinkMatch.All">
        <i class="fa fa-plus"></i> @Localizer["Add"]
    </NavLink>
</div>

<DataGrid TItem="Anime"
          Data="@animes"
          PageSize="10"
          ShowPager
          Responsive
          Filterable>
    <DataGridColumn TItem="Anime" Field="@nameof(Anime.Id)" Caption="Image" FilterCellStyle="display : none">
        <DisplayTemplate>
            @if (!string.IsNullOrWhiteSpace(context.ImageBase64))
            {
                <img src="data:image/png;base64, @(context.ImageBase64)" class="img-thumbnail" title="@context.Titre" alt="@context.Titre" style="min-width: 50px; max-width: 150px" />
            }
            else
            {
                <img src="images/default.png" class="img-thumbnail" title="@context.Titre" alt="@context.Titre" style="max-width: 150px"/>
            }
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="Anime" Field="@nameof(Anime.Titre)" Caption=@Localizer["TitleAnime"]  />
    <DataGridColumn TItem="Anime" Field="@nameof(Anime.Producteurs)" Caption=@Localizer["Producer"] FilterCellStyle="display : none"/>
    <DataGridColumn TItem="Anime" Field="@nameof(Anime.Sources)" Caption="Sources" FilterCellStyle="display : none">
        <DisplayTemplate>
            @(string.Join(", ", ((Anime)context).Sources))
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="Anime" Field="@nameof(Anime.Genres)" Caption="Genres" FilterCellStyle="display : none">
        <DisplayTemplate>
            @(string.Join(", ", ((Anime)context).Genres))
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="Anime" Field="@nameof(Anime.Status)" Caption=@Localizer["Status"] FilterCellStyle="display : none">
        <DisplayTemplate>
            @(string.Join(", ", ((Anime)context).Status))
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="Anime" Field="@nameof(Anime.Episodes)" Caption=@Localizer["NbEp"] FilterCellStyle="display : none"/>
    <DataGridColumn TItem="Anime" Field="@nameof(Anime.DateParution)" Caption=@Localizer["ReleaseDate"] DisplayFormat="{0:d}" DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("fr-FR")" FilterCellStyle="display : none" />
    <DataGridColumn TItem="Anime" Field="@nameof(Anime.Id)" Caption="Actions" FilterCellStyle="display : none">
        <DisplayTemplate>
            <a href="Edit/@(context.Id)" class="btn btn-primary"><i class="fa fa-edit"></i> @Localizer["Edit"]</a>
            <button type="button" class="btn btn-primary" @onclick="() => OnDelete(context.Id)"><i class="fa fa-trash"></i> @Localizer["Delete"]</button>
        </DisplayTemplate>
    </DataGridColumn>
</DataGrid>

