﻿@page "/tierslist"
@using Blazorise
@using AnimeList.Models

<PageTitle>Tiers Liste</PageTitle>



@if(animes != null){
    <DropContainer TItem="Anime" Items="@animes" ItemsFilter="@((anime, dropZone) => anime.Groupe == dropZone)" ItemDropped="@ItemDropped" Flex="Flex.Wrap.Grow.Is1">
        <ChildContent>
            <DropZone TItem="Anime" Name="Liste" Border="Border.Rounded" Background="Background.Light" Padding="Padding.Is3" Margin="Margin.Is3" Flex="Flex.Grow.Is1">
                <Heading Size="HeadingSize.Is4" Margin="Margin.Is3.FromBottom">@Localizer["Title"]</Heading>
            </DropZone>
            <DropZone TItem="Anime" Name="Top"  Border="Border.Rounded" Background="Background.Light" Padding="Padding.Is3" Margin="Margin.Is3" Flex="Flex.Grow.Is1">
                <Heading Size="HeadingSize.Is4" Margin="Margin.Is3.FromBottom">Top</Heading>
            </DropZone>
            <DropZone TItem="Anime" Name="Bien" Border="Border.Rounded" Background="Background.Light" Padding="Padding.Is3" Margin="Margin.Is3" Flex="Flex.Grow.Is1">
                <Heading Size="HeadingSize.Is4" Margin="Margin.Is3.FromBottom">@Localizer["Good"]</Heading>
            </DropZone>
            <DropZone TItem="Anime" Name="Nul" Border="Border.Rounded" Background="Background.Light" Padding="Padding.Is3" Margin="Margin.Is3" Flex="Flex.Grow.Is1">
                <Heading Size="HeadingSize.Is4" Margin="Margin.Is3.FromBottom">@Localizer["Bad"]</Heading>
            </DropZone>
        </ChildContent>
        <ItemTemplate>
            <Card Shadow="Shadow.Default" Margin="Margin.Is3.OnY">
                <CardBody>
                    <div class="d-flex flex-row" style="align-items:center;">
                        @if (!string.IsNullOrWhiteSpace(context.ImageBase64))
                        {
                            <img src="data:image/png;base64, @(context.ImageBase64)" Text="DragDrop image example" style="width:48px;height:48px;" />
                        }
                        else
                        {
                            <img src="images/default.png" class="img-thumbnail" Text="DragDrop image example" style="width:48px;height:48px; "/>
                        }
                        <p style="padding-left:1rem;">@context.Titre</p>
                    </div>
                </CardBody>
            </Card>
        </ItemTemplate>
    </DropContainer>
}
