﻿


<div @onclick="NavigateToDetail" class="item btn btn-primary" style="margin:5px;" >

        @if (!string.IsNullOrWhiteSpace(Image))
		{
			<img src="data:image/png;base64, @(Image)" class="img-thumbnail" title="@Titre" alt="@Titre" style="min-width: 50px; max-width: 150px" />
		}
		else
		{
			<img src="images/default.png" class="img-thumbnail" title="@Titre" alt="@Titre" style="max-width: 150px"/>
		}

        <p style="margin-bottom: 0px">@Titre</p>
</div>
