﻿.bar {
    height: 70px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    background-color: #C0A9BD;
    align-items: center;
    border-top: solid black 2px;
    border-radius: 5px 5px 0 0;
}

div{
    color: black;
}
.bar div:first-child {
    padding-left: 10px;
}
.bar div:last-child
{
    padding-right: 10px;
}