﻿
@if (positionOptions != null)
{
    <div class="bar">
        <div>@positionOptions.Title</div>

        <div>@Localizer["Create"] @positionOptions.Names[0] & @positionOptions.Names[1] </div>
        <div>@Localizer["Student"] @positionOptions.Study</div>
        <div>@positionOptions.School</div>
        <Log/>
    </div>
}


