﻿@using  System.Globalization
@inject NavigationManager NavigationManager

<p>
    <label class="p-0 m-0">
        <select @bind="Culture " class="form-select p-0 m-0 " aria-label=".form-select-lg example">
            @foreach (var culture in supportedCultures)
            {
                <option value="@culture">
                    @if(@culture.DisplayName.Substring(0, 2) == "En" ||@culture.DisplayName.Substring(0, 2) == "an")
                    {
                        <p>En</p>
                        @*<img src="images/en.png" alt="En" height="5px"/>*@
                    }
                    else
                    {
                        <p>Fr</p>
                        @*<img src="images/fr.png" alt="fr"/>*@
                    }
                </option>
            }
        </select>
    </label>
</p>

@code
{
    private CultureInfo[] supportedCultures = new[]
    {
        new CultureInfo("en-US"),
        new CultureInfo("fr-FR")
    };

    private CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentUICulture == value)
            {
                return;
            }

            var culture = value.Name.ToLower(CultureInfo.InvariantCulture);

            var uri = new Uri(this.NavigationManager.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
            var query = $"?culture={Uri.EscapeDataString(culture)}&" + $"redirectUri={Uri.EscapeDataString(uri)}";

            // Redirect the user to the culture controller to set the cookie
            this.NavigationManager.NavigateTo("/Culture/SetCulture" + query, forceLoad: true);
        }
    }
}