﻿@inherits LayoutComponentBase



<PageTitle>AnimeList</PageTitle>

<div class="page">
    <div class="top" >
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <div class="bas">
        <AnimeList.Components.Config />
    </div>
</div>
