﻿<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg d-flex align-items-center" style="border-bottom: black solid 2px; border-radius: 0px 0px 5px  5px;">
    <div class=" container-fluid d-flex align-items-center ">
        <img src="images/feuilleNoir.png" alt="logo" height="50px"/>
        <a class="navbar-brand" href="#">AnimeList</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="nav-item">
                    <NavLink class="nav-link text-black" href="/"  Match="NavLinkMatch.All"> @Localizer["Home"]
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link text-black " href="tierslist" Match="NavLinkMatch.All">
                        Tiers-List
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link text-black" href="list" Match="NavLinkMatch.All" >
                        @Localizer["List"]
                    </NavLink>
                </div>
            </ul>
            <div class="d-flex justify-content-center  p-3">
                <CultureSelector />
            </div>
        </div>
    </div>
</nav>

