
.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.8rem;
    padding-left: 1rem;
    font-family: 'Pacifico', cursive;
    color: black;
    padding-right: 2 rem;
}
.navbar {
    background-color: #C0A9BD;
}

img {
    padding-left: 2rem;
}

.culture{
    padding-right: 2rem;
}
.nav-link {
    color: black !important;
}


.nav-item {
    font-family: 'Ubuntu', sans-serif;
    color: black !important;
    font-size: 1rem;
    padding-left: 1.5rem;
}

.nav-item ::deep a:hover {
    color: white !important;
}



.nav-item ::deep a.active {
    color: black;
    font-weight: bold
}



@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-brand {
        font-size: 1.8rem;
        padding-left: 0rem;
        font-family: 'Pacifico', cursive;
        color: black;
        padding-right: 0 rem;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
